@import "tailwindcss";

@keyframes registerFade {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.98);
    }

    40% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.animate-register {
    animation: registerFade 1.6s ease forwards;
}